Phyton-Backend/Client/speach-modules/
Phyton-Backend/Client/env
Phyton-Backend/Client/.vscode
.venv
key.py

# Webpack
node_modules/
dist/
build/
.cache/
.tern-port
.sass-cache/
.nyc_output/
coverage/
.DS_Store

# Pure Web
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-metadata
*.sublime-package
*.sublime-snippet
*.sublime-completions
*.sublime-keymap
*.sublime-macro
*.sublime-menu
*.sublime-theme
*.sublime-color-scheme
*.sublime-syntax
*.sublime-scheme
*.sublime-syntax-test
*.sublime-syntax-definition
*.sublime-syntax-definition-test