<h1> Andromeda </h1>
<h2>Create a New Prompt</h2>


<div class="form-container">
  <form (ngSubmit)="submitPrompt()">

    <label for="content">Prompt Content:</label>
    <textarea
      id="content"
      name="content"
      [(ngModel)]="newPrompt.content"
      placeholder="Enter the prompt content here..."
      required>
    </textarea>


    <label for="username">User Name:</label>
    <select
      id="username"
      name="username"
      [(ngModel)]="newPrompt.username">
    (change)="setUserId(newPrompt.username)"
    required>
    <option value="" disabled>Select a user</option>
    <option value="Brionka">Brionka</option>
    <option value="Friedolin">Friedolin</option>
    <option value="Ursula">Ursula</option>
      <option value="Peter">Peter</option>
    </select>

    <!-- Submit Button -->
    <button type="submit">Create Prompt</button>
  </form>
</div>

<!-- Back Button -->
<button (click)="goBack()">Back to Prompt List</button>
