/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Comfortaa:wght@300;400&display=swap');


body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #F9F6F4; /* Hintergrundfarbe */
    color: #242038; /* Akzentfarbe for text */
}

/* Typography */

h1, .title {
    /*font-family: 'Major Mono Display', monospace;*/
    font-size: 32px;
    font-weight: normal;
    color: #242038;
}

h2, .subtitle {
    font-size: 18px;
    font-weight: normal;
    color: #242038;
}

h2{
    text-align: center;
    margin-top: 180px;
}

p {
    font-size: 12px;
    color: #242038;
}

/* Colors */
:root {
    --background-color: #F9F6F4;
    --primary-color: #9067C6;
    --secondary-color: #E8CEF9;
    --tertiary-color: #8D86C9;
    --accent-color: #242038;
}

/* Buttons */
button {
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color);
    box-shadow: 2px 2px 4px #ffffff;
}

button.large {
    width: 100%;
    max-width: 300px;
    background-color: var(--accent-color);
}

button.large:hover {
    background-color: var(--primary-color);
}






/* Dashboard and Samples */


/* Utility */
.text-center {  
    text-align: center;
}

.mt-4 {
    margin-top: 16px;
}

.mb-4 {
    margin-bottom: 16px;
}


/*nav*/
nav{
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    color: var(--background-color);
    height: 2.5vw;
    position: sticky;

}
a h1{
    text-align: center;
    font-size: 1rem;
    color: var(--background-color);
}

#smallLogo{
    width: 2vw;
}

#BigLogo{
    width: 25vw;
}


/*Section*/
section{
    width: 100%;
    height: 15vw;
    background-image: url(R.jpg);
    background-repeat: no-repeat;
}
#rigthSection{
    display: grid;
    grid-template-columns: 40% 60%;

}

#leftSection{
    display: grid;
    grid-template-columns:60% 40%;
}
.slideText{
    
    width: 30vw;
    height: 30vw;
    border: solid rgb(255, 0, 0) 1px;
    border-radius: 100%;
    margin: auto;
}
/*Standard tags*/
a{
    text-decoration: none;
}


/*footer*/
footer{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 25% 20% 20% 30%;
}

footer div a{
    color: var(--background-color);
}
footer div h1{
    color: var(--background-color)
}
footer div h3{
    color: var(--background-color)
}
footer div p{
    color: var(--background-color)
}