/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Comfortaa:wght@300;400&display=swap');


body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #F9F6F4;
    /* Hintergrundfarbe */
    color: #242038;
    /* Akzentfarbe for text */
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-image: url(img/backround3.png);
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;/*Code Zeile von Phiz unser aller bester Front End Dev*/
    overflow-x: hidden;
}

/* Typography */
body::-webkit-scrollbar {
    display: none;
    /* Versteckt Scrollleisten für Webkit-Browser */
}

h1,
.title {
    /*font-family: 'Major Mono Display', monospace;*/
    font-size: 32px;
    font-weight: normal;
    color: #242038;
}

h2,
.subtitle {
    font-size: 18px;
    font-weight: normal;
    color: #242038;
}

h2 {
    text-align: center;
    margin-top: 180px;
}

p {
    font-size: 12px;
    color: #242038;
}

/* Colors */
:root {
    --background-color: #F9F6F4;
    --primary-color: #9067C6;
    --secondary-color: #E8CEF9;
    --tertiary-color: #8D86C9;
    --accent-color: #242038;
}




/*Standard tags*/
a {
    text-decoration: none;
}


/*footer*/
